body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.about-us {
    width: 70%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 12rem;
}

.title {
    color: #888888;
    font-size: 1.9rem;
    font-weight: 600;
}

.about-us p {
    text-align: inherit;
    color: #000000;
    font-size: 1.3rem;
    line-height: 1.75rem;
    margin: 1.8rem 0 0 0;
}

.about-us p strong {
    font-weight: bold;
}