body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.logo {
    width: 23%;
    height: auto;
    display: flex;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

nav {
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 88px;
    right: 40px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    /* text-decoration: underline; */
}

.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.products li:hover {
    border-color: #c78c19;
}

.products li:active {
    border-color: #088c19;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.product-description {
    font-size: 18px;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-standard {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.submit {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.submit:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS da Página Inicial */

section.container.main {
    height: 100vh;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,4.7)), url(../images/principal.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner {
    height: 50%;
    border: 1px solid black;
    border-radius: 0 0 0 0.5rem;
    box-shadow: -5px 8px 2px #000;
}

.container {
    display: flex;
    padding-top: 17rem;
    background: #FEFEFE;
    width: 70%;
    height: 15rem;
    margin: 0 auto;
}

.container .main p {
    margin: 0 0 1em;
}

.container .main strong {
    font-weight: bold;
}

.container .main em {
    font-style: italic;
}

.container-price {
    width: 45%;
    padding: 1.2rem 0 0 5rem;
}

.title-price, .title-disponibilidad, .title-courses, .title-library, .devices__title {
    color: #000000;
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: 900;
    text-align: center;
}

.button-buy {
    display: block;
    padding: 1em;
    background-color: #c00d0d;
    background-image: url(../images/carrinho.png);
    background-repeat: no-repeat;
    background-size: 2.3rem;
    background-position: 1.7rem 0.6rem;
    margin: 1.5em 0 0 0;
    color: #FFF;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.button-buy:hover {
    background-color: #8B0000;
    transition: all 0.2s ease-out;
}

.container-disponibilidad {
    width: 60%;
    padding: 4rem 5rem 0 0rem;
}

.container-courses {
    width: 60%;
    padding: 5rem 0 0 5rem;
}

p.disponibilidad, p.courses, p.name-device, p.library {
    color: #000000;
    font-size: 1.4rem;
    line-height: 1.75rem;
    text-align: center;
}

p.library strong {
    font-weight: bold;
}

.devices {
    text-align: center;
    padding-top: 34rem;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1.5rem 0 3rem 0;
}


.utensilions {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.map {
    padding: 3em 0;
    /* background: linear-gradient(#FEFEFE, #888888); */
}

.map-content {
    width: 940px;
    margin: 0 auto;
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.benefits {
    padding: 3em 0;
    background: #888888;
}

.content-benefits {
    width: 640px;
    margin: 0 auto;
}

.list-benefits {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "★";
}

.itens:first-child {
    font-weight: bold;
}

.img-benefits {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 5px #000000;
}

.img-benefits:hover {
    opacity: 0.6;
}

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .box, .main, .content-benefits, .map-content, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .list-benefits, .img-benefits {
        width: 100%;
    }
} 

/* Container Cursos */

section.container.library {
    display: block;
}

.colun-one-front, .colun-two-front {
    display: none;
}

.colun-one-front.active {
    display: flex;
    position: absolute;
    width: 50%;
    margin-left: 6rem;
}

.colun-two-front.active {
    display: flex;
    position: absolute;
    width: 50%;
    margin-left: 6rem;
    margin-top: 10rem;
}

.colun-one-back, .colun-two-back {
    display: none;
}

.colun-one-back.active {
    display: flex;
    position: absolute;
    width: 50%;
    margin-left: -10rem;
}

.colun-two-back.active {
    display: flex;
    position: absolute;
    width: 50%;
    margin-left: 4.5rem;
    margin-top: 10rem;
}

.colun-one-data {
    display: none;
}

.colun-one-data.active {
    display: flex;
    position: absolute;
    width: 50%;
    margin-left: -26rem;
}

.colun-one-mobile {
    display: none;
}

.colun-one-mobile.active {
    display: flex;
    position: absolute;
    width: 50%;
    margin-left: -43rem;
}

.all-courses {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}

.btn {
    width: 11rem;
    height: 3rem;
    background: #2b1d86;
    color: #FFFFFF;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #2b1d86;
    border-radius: 25px;
    margin: 0 3rem 0 1.8rem;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(135deg, #140e3f 50%, transparent 50%);
    background-image: linear-gradient(135deg, #140e3f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
}

.logo-front-end, .logo-back-end, .logo-data-science, .logo-mobile {
    display: block;
    width: 15%;
    margin-right: 8rem;
    padding-top: 4rem;
    filter: drop-shadow(0px 0px 3px #2b1d86);
}

.logo-mobile.react {
    width: 22%;
}


/* .teste-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} */