body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.logo {
    margin: 10px 0;
}

nav {
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 88px;
    right: 40px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    /* text-decoration: underline; */
}

.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.products li:hover {
    border-color: #c78c19;
}

.products li:active {
    border-color: #088c19;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.product-description {
    font-size: 18px;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-standard {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.submit {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.submit:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS da Página Inicial */
.banner {
    width: 45%;
    border: 1px solid black;
    border-radius: 0 0 0 0.5rem;
    box-shadow: -5px 8px 2px #000;
}

.container .main {
    display: flex;
    padding-top: 10rem;
    background: #FEFEFE;
    width: 70%;
    height: 15rem;
    margin: 0 auto;
}

.container {
    display: flex;
    padding-top: 17rem;
    background: #FEFEFE;
    width: 70%;
    height: 15rem;
    margin: 0 auto;
}

.container .main p {
    margin: 0 0 1em;
}

.container .main strong {
    font-weight: bold;
}

.container .main em {
    font-style: italic;
}

.container-price {
    width: 45%;
    padding: 1.2rem 0 0 5rem;
}

.title-price, .title-disponibilidad, .title-courses, .title-library, .devices__title {
    color: #000000;
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: 900;
    text-align: center;
}

.button-buy {
    display: block;
    padding: 1em;
    background-color: #c00d0d;
    background-image: url(../images/carrinho.png);
    background-repeat: no-repeat;
    background-size: 2.3rem;
    background-position: 1.7rem 0.6rem;
    margin: 1.5em 0 0 0;
    color: #FFF;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.button-buy:hover {
    background-color: #8B0000;
    transition: all 0.2s ease-out;
}

.container-disponibilidad {
    width: 60%;
    padding: 4rem 5rem 0 0rem;
}

.container-courses {
    width: 60%;
    padding: 5rem 0 0 5rem;
}

p.disponibilidad, p.courses, p.name-device {
    color: #000000;
    font-size: 1.4rem;
    line-height: 1.75rem;
    text-align: center;
}

.devices {
    text-align: center;
    padding-top: 17rem;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1.5rem 0 3rem 0;
}


.utensilions {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.map {
    padding: 3em 0;
    /* background: linear-gradient(#FEFEFE, #888888); */
}

.map-content {
    width: 940px;
    margin: 0 auto;
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.benefits {
    padding: 3em 0;
    background: #888888;
}

.content-benefits {
    width: 640px;
    margin: 0 auto;
}

.list-benefits {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "★";
}

.itens:first-child {
    font-weight: bold;
}

.img-benefits {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 5px #000000;
}

.img-benefits:hover {
    opacity: 0.6;
}

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .box, .main, .content-benefits, .map-content, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .list-benefits, .img-benefits {
        width: 100%;
    }
} 

/* Container Cursos */

section.container.library {
    display: block;
}

.school-front-end {
    display: none;
}

.school-front-end.active { 
    display: block;
}

.all-courses {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}

.btn {
    width: 8rem;
    height: 2rem;
    background: #888888;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid red;
    margin: 0 1rem 0 1rem;
}

.btn:hover {
    background: blue;
    cursor: pointer;
}
